/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);*/
@import url('https://fonts.googleapis.com/css?family=Fahkwang|Lora|Permanent+Marker|Shadows+Into+Light');

body {
  background: #000;
  color: #fff;
  position: relative;
  line-height: 1.5;
  font-family: 'Lora', sans-serif;
  font-size: 32px;
}

h1, h2, li {
  font-weight: 700;
}

.shadows-into-light {
  font-family: 'Shadows Into Light', sans-serif;
}

.fahkwang {
  font-family: 'Fahkwang', sans-serif;
}

.fs-100 {
  font-size: 100px;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

h3 span {
  color: #286090;
}

.jumbotron {
  border-radius: 0px;
  background: #000;
  /*background: #5fb3ce;*/
  margin-bottom: 0;
}

.jumbotron button {
  margin-top: 10px;
}

section {
  padding: 40px 0;
  border-bottom: 1px solid #c1e1ec;
}

#web-development,
#mobile-development {
  padding-bottom: 0;
}

section:last-child {
  border-bottom: none;
}

.nav {
  /*background: #4baac8;*/
  font-size: 48px;
}

.nav a {
  color: #fff;
  /*font-style: italic;*/
}

.nav li a:hover,
.nav li a:focus {
  /*background: #86c5da;*/
  background: #000;
  color: yellow;
}

.nav .active a {
  color: yellow;
}

.yellow {
  color: yellow;
}


.nav .active {
  font-weight: bold;
  font-size: 64px;
  transition: .3s cubic-bezier(.17,.67,.79,.62);
  /*background: #72bcd4;*/
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.application {
  border-top: 1px solid #c1e1ec;
}

.affix-top {
  position: relative;
}

.affix {
  top: 20px;
}

.affix, 
.affix-bottom {
    /*width: 213px;*/
    width: 400px;
}

.affix-bottom {
  position: absolute;
}

footer {
  border-top: 1px solid #c1e1ec;
  height: 50px;
}

footer p {
  line-height: 50px;
  margin-bottom: 0;
}

@media (min-width:1200px) {
  .affix, 
  .affix-bottom {
    /*width: 263px;*/
    width: 400px;
  }
}